<p-dialog [header]="header" [(visible)]="display" [modal]="true" [closable]="false">

  <div class="column gap-1 form-wrapper">
    <!-- Name -->
    <div class="row gap-05">
      <span class="price-label">Name:</span>
      <input type="text" [(ngModel)]="product.name" />
    </div>

    <!-- Price -->
    <div class="row gap-05">
      <span class="price-label">Price:</span>
      <input type="text" [(ngModel)]="product.price" />
    </div>

    <!-- Image -->
    <div class="row gap-05">
      <span class="price-label">Image:</span>
      <input type="text" [(ngModel)]="product.image" />
    </div>

    <!-- Rating -->

    <p-rating [(ngModel)]="product.rating" [readonly]="false" [stars]="5" iconCancelClass="hidden" />

    <p-footer>
      <div class="row gap-05">
        <button type="button" pButton icon="pi pi-check" (click)="onConfirm()" label="Confirm"></button>
        <button type="button" pButton icon="pi pi-times" (click)="onCancel()" label="Cancel"
        class="p-button-danger"
        ></button>
      </div>
    </p-footer>

  </div>

</p-dialog>