.conBtn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.addBtn {
  position: obsolute;
  text-align: center;
  width: 150px;
  height: 45px;
  font-family: 'Roboto', sans-serif;
  border-radius: 10px;
}
