<!-- Toast -->
<p-toast position="top-right"></p-toast>

<div class="column gap-1">
  <!-- Add Product Button -->
  <div class="conBtn">
    <button class="addBtn" type="button" (mousedown)="$event.preventDefault()" (click)="toggleAdd()">
      <i class="pi pi-shopping-cart"></i>
      <span>{{ 'ADD_PRODUCT' | translate }}</span>
    </button>
  </div>

  <!-- Products Section -->
  <div class="row wrap gap-2 space-between">
    <app-product *ngFor="let product of products" [product]="product" (edit)="toggleEdit($event)"
      (delete)="toggleDelete($event)">
    </app-product>
  </div>

  <!-- Paginator -->
  <p-paginator [rows]="rows" [totalRecords]="totalRecords" [rowsPerPageOptions]="[5,10,15,20,25,30]"
    (onPageChange)="onPageChange($event)" #paginator>
  </p-paginator>
</div>

<!-- Edit -->
<app-edit [product]="selectedProduct" [(display)]="displayEdit" (confirm)="onConfirmEdit($event)"
  [header]="'EDIT_PRODUCT' | translate">
</app-edit>

<!-- Add -->
<app-edit [(display)]="displayAdd" (confirm)="onConfirmAdd($event)" [header]="'ADD_PRODUCT' | translate">
</app-edit>